<launch>
    <!-- Launch the gps_to_odom node -->
    <node name="gps_to_odom" pkg="first_project" type="gps_to_odom" output="screen">

        <!-- Set parameters for GPS to Odometry conversion -->
        <param name="lat_ref" value="48.8582" />
        <param name="lon_ref" value="2.2945" />
        <param name="alt_ref" value="100.0" />

        <!-- Remap topics if necessary -->
        <remap from="/gps/fix" to="/fix" />
        <remap from="/odom" to="/gps_odom" />

       

    </node>
</launch>

